.container
{
    margin: 0 auto;
    padding-top: 90px;
    width: 92%;
    max-width: 1050px;
}


h1, .container>div>p
{
    text-align: center;
}

.main_intro img
{
    margin-top: 9px;
    width: 100%;
}

.carrer_intro
{
    padding-top: 18px;
}
.honor_view
{
    margin-top: 18px;
}

.honor_view li
{
    padding: 6px 0;
    list-style-type: disc;
    list-style-position: inside;
}

.join_intro
{
    margin-top: 18px;
}

.join_intro a{
    display: block;
    margin: 5px auto;
    padding: 5px;
    width: fit-content;
    transition: all 0.7s;
}

.join_intro a:hover
{
    box-shadow: 0 0 10px var(--link-color),
                0 0 25px var(--link-color),
                0 0 50px var(--link-color),
                0 0 200px var(--link-color);
}

.way_view 
{
    margin: 0 auto;
    width: fit-content;
}
.way_view li
{
    display: block;
    float: left;
    margin: 12.5px;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.way_view li:nth-child(1) {
    background-image: url('../image/github.svg');
}
.way_view li:nth-child(2) {
    background-image: url('../image/tiktok.svg');
}
.way_view li:nth-child(3) {
    background-image: url('../image/tencent-qq.svg');
}
.way_view li:nth-child(4) {
    background-image: url('../image/wechat.svg');
}
.way_view li a{
    display: block;
    width: 100%;
    height: 100%;
}
.letter
{
    margin: 9px auto;
    padding: 9px;
    min-width: 252px;
    width: 70%;
    background-color: var(--theme-color);
}
.letter p{
    text-align: none;
    margin-bottom: 9px;
    width: 100%;
    font-style:italic;
    /* text-indent: 2em; */
}